@media (min-width: 340px) and (max-width: 630px) {
    .header {
        width: 70%;
        margin-top: 50px;
    }
    .header img {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
    }
    .header h1 {
        font-size: 1.6rem;
    }
    .header h2 {
        font-size: 0.9rem;
    }
    .navbar-social {
        width: 80%;
        margin: 0px;
    }
    
    .navbar-social ion-icon {
        width: 20px;
        height: 20px;
    }
    main {
        width: 90%;
    }
    .navbar-jobs {
        margin: 10px auto;
        width: 100%;
        margin-top: 30px;
    }
   
    .navbar-jobs li {
        margin: 25px auto;
        padding: 3px;
        border-radius: 8px;
    }
    .navbar-jobs a {
        font-size: 1rem;
        font-weight: bold;
        padding: 3px;
    }
   
    .navbar-jobs span {
        display: block;
        font-size: 0.8rem;
        color: #fff;
        font-weight: 400;
    }

}