@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400;500;700&display=swap');
@import 'responsive.css';
@import 'keyFrame.css';


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.72),rgba(0,0,0,0.72)),url(../img/pexels-cottonbro-4065864.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}

/*  header  */

.header {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    color: white;
}
.header img {
    border: 1px solid white;
    background-color: rgba(8, 8, 8, 0.205);
    padding: 16px;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    margin-bottom: 15px;
    filter: drop-shadow(16px 16px 10px black);
    animation: floating 2s ease-in-out infinite;
}
.header h1 {
    font-size: 2.0rem;
    letter-spacing: -1px;
    margin-bottom: 0px;
}
.header h2 {
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-style: italic;
    font-weight: 400;
    margin-top: 0px;
}

/*  navbar - icon Socials   */


main {
    width: 70%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  
}

.navbar-social {
    margin: 10px auto;
    width: 70%;
}
 
 .navbar-social ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
 }
 .navbar-social a {
     padding: 10px;
 }
.navbar-social ion-icon {
    width: 40px;
    height: 40px;
    color: #fff
    ;
}


/*  navbar - Jobs - links   */

.navbar-jobs {
    width: 60%;
    margin:10px auto;
}
.navbar-jobs ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.navbar-jobs a {
    border-radius: 8px;
    color: #fff;
    padding: 10px;
    border: 1px solid gray;
    margin: 10px 0px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    transition: all .4s ease;
}
.navbar-jobs a:hover {
    background-color: rgba(169, 169, 169, 0.4);
}
.navbar-jobs span {
    display: block;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}


